{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    {% image self.banner_image width-1500 as img %}

    <div class="container-fluid" style="background-image: url('{{ img.url }}'); background-size:cover;
    background-position: center center; color: #fff !important;">

        <h1 class="display-4">{{self.banner_title}}</h1>
        <div class="lead">{{self.banner_subtitle|richtext}}</div>
        {% if value.banner_cta %}
        <a class="btn btn-primary btn-lg" href="#" role="button">@todo</a>
        {% endif %}
    </div>
    <br>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {%  for loop_cycle in self.carousel_images.all %}
                {% image loop_cycle.carousel_image fill-900x400 as img %}
                <div class="carousel-item {% if forloop.counter == 1 %}   active {% endif %}">
                    <img src="{{ img.url }}" class="d-block w-100" alt="{{ img.alt }}">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

Site settings:

    {% if settings.site_settings.SocialMediaSettings.facebook %}
        <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
    {% endif %}


    {% if settings.site_settings.SocialMediaSettings.twitter %}
        <a href="{{ settings.site_settings.SocialMediaSettings.twitter }}" target="_blank">
            <i class="fa-brands fa-twitter"></i>
        </a>
    {% endif %}

 
    {% if settings.site_settings.SocialMediaSettings.youtube %}
        <a href="{{ settings.site_settings.SocialMediaSettings.youtube }}" target="_blank"> 
            <i class="fa-brands fa-youtube"></i>
        </a>
    {% endif %}








    {% for block in page.content%}
        {% include_block block %}
    {% endfor %}
{% endblock %}