
{% load wagtailimages_tags %}

<div class="container">
    <h1 class="text-center">{{value.title}}</h1>

    <div class="card-deck">
        {% for card in value.cards%}
           {% image card.image fill-300x200 as img %} 
            <div class="card" style="width: 18rem; display: inline-block;">
                <img src="{{ img.url }}" alt="{{ image.alt }}" class="card-img-top">
                <div class="card-body ">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text">{{ card.text }}</p>
                    {% if card.button_page%}
                        <a href="{{ card.button_page }}" class="btn btn-primary"> Learn More (Internal)</a>
                    {% elif card.button_url %}
                        <a href="{{ card.button_url}}" class="btn btn-primary"> Learn More (External)</a>
                    {% endif%}
                </div>
            </div>
    
        {% endfor %}
    </div>
</div>
