{% load wagtailcore_tags %}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1> {{ value.title }}</h1>
            {{ value.text|richtext }}

            {% if value.button_page %}
                <a href="{{ value.buttom_page.url }}"> {{ value.button_text}}</a>
            {% elif value.button_url %}
                <a href="{{ value.buttom_url }}"> {{ value.button_text}}</a>
            {% endif %}
        </div>
    </div>
</div>