{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block content %}
    
   <h> {{ value.title }}</h1>
   <div class="lead"> {{ value.subtitle }}</div>
   {% for block in page.content%}
      {% include_block block %}
   {% endfor %}

{% endblock %}